
html.home {

  .main-nav{
    font-family: OpenSans-Regular;
    background-color: #0769fc;

    .navbar-collapse{
      ul.navbar-nav{

        li.nav-item{
          padding-left: 7px;
          padding-right: 7px;

          a{
            font-size: 14px;
            color: #ffffff;
            text-align: center;
          }

          &:first-child{
            padding-left: 0;
          }
          &:last-child{
            padding-right: -0px;
          }
        }

        li.active{
          a{
            color: #007AFF;
          }
        }
      }
    }
  }

  .banner {
    // height: calc(100vh - 67px);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    margin-bottom: 50px;

    .text-col {
      text-align: center;
      h1 {
        font-family: Rubik-Bold;
        font-size: 24px;
        color: #676767;
        margin-bottom: 5rem;
        margin-top: 50px;

      }

      form{
        max-width: 800px;
        margin:auto;
      }
    }


  }

  .download-container{
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
      .card-body{
        img{
          max-width: 200px;
        }
      }
    }
  }

}
