html.home {
  .banner {
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
      font-family: Rubik-Bold;
      font-size: 77px;
      color: #676767;
    }
    p{
      font-family: Rubik-Light;
      font-size: 18px;
      color: #3B3B3B;

    }
  }

}
