.container {
  @media (min-width: 1200px) {
    max-width: 1280px;
  }
}

.center-v-h{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.full-width-bg{
  background-size: cover;
  background-position: center center;
  background-repeat:  no-repeat;
}

h1,h2,h3,h4,h5,h6{
  font-family: Roboto;
  font-weight: 700;
}

.btn-primary{
  background: #007AFF;
  border-radius: 6px;
  font-family: Rubik-Regular;
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;

  &:hover{
    background-color: #fff;
    border-color: #007AFF;
    color: #007AFF;
  }
}

.btn-outline-primary{
  border-radius: 6px;
  font-family: Rubik-Regular;
  font-size: 16px;
  color: #007AFF !important;
  padding-left: 30px!important;
  padding-right: 30px!important;
  border-color: #007AFF;
  &:hover{
    color: #FFFFFF !important;
  }
}
